<div class="container-fluid">
    <h5>
        <a href="/createWorkout">create workout</a>
    </h5>
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Basic Table</h3>
                <div class="table-responsive">
                    <div>
                        <input type="radio" (change)="selected($event)" id="All" name="drone" value="All" checked>
                        <label for="All">All</label>
                    </div>

                    <div>
                        <input type="radio" (change)="selected($event)" id="Abs" name="drone" value="Abs">
                        <label for="Abs">Abdominal muscles</label>
                    </div>

                    <div>
                        <input type="radio" (change)="selected($event)" id="Arms" name="drone" value="Arms">
                        <label for="Arms">Arms</label>
                    </div>

                    <div>
                        <input type="radio" (change)="selected($event)" id="Ass" name="drone" value="Ass">
                        <label for="Ass">Ass</label>
                    </div>

                    <div>
                        <input type="radio" (change)="selected($event)" id="Back" name="drone" value="Back">
                        <label for="Back">Back</label>
                    </div>
                    <div>
                        <input type="radio" (change)="selected($event)" id="Chest" name="drone" value="Chest">
                        <label for="Chest">Chest</label>
                    </div>

                    <div>
                        <input type="radio" (change)="selected($event)" id="Legs" name="drone" value="Legs">
                        <label for="Legs">Legs</label>
                    </div>
                    <div>
                        <input type="radio" (change)="selected($event)" id="lowerBody" name="drone" value="lowerBody">
                        <label for="lowerBody">Lower Body</label>
                    </div>
                    <div>
                        <input type="radio" (change)="selected($event)" id="Shoulders" name="drone" value="Shoulders">
                        <label for="Shoulders">Shoulders</label>
                    </div>
                    <div>
                        <input type="radio" (change)="selected($event)" id="upperBody" name="drone" value="upperBody">
                        <label for="upperBody">Upper Body</label>
                    </div>





                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Difficulty</th>
                                <th class="border-top-0">Exercises</th>
                                <th class="border-top-0">Likes</th>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>